/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
   
}
body {

}
a:hover { text-decoration: none }
.service-list{}
.single-service-box{border-right:1px solid #ddd;
    padding:6%;
    text-align:center;
    font-size:16px; ;
    line-height:2;transition:.3s ;;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-top: 1px solid #ddd  }
.service-list .row{margin: 0; }
.single-service-box h3{font-size:20px;
    font-weight:400;
    text-transform:uppercase;   }
.service-icone{color: #dd4c40;
    ;font-size:30px }
.single-service-box:hover{box-shadow:0 30px 50px #999;  }
.section-padding{padding: 90px 0}
  










