/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none;}

.section-padding{padding:80px 0;}
.section-title{margin-bottom:50px;
    text-transform:uppercase;}
.section-title h2{ font-weight:normal;
    text-align:center}
.tesimonial-top img{max-width:120px;
    display:inline-block;
    margin-top:-32px}
.tesimonial-top h3{display: inline-block;
    text-align:left;font-size:20px;
    text-transform:uppercase;
    font-weight:400;
    padding-left: 20px}
.tesimonial-top{text-align:center;
    padding-top:30px;padding-bottom:30px }
.tesimonial-top h3 span{text-transform:none;
    font-size:70%;opacity: .5;
    display:inline-block;padding-top:10px;}
.single-testimonial-item{color:#888;font-size:15px;
    line-height:1.8;
    box-shadow:0 0 10px #ECEBEB;
    padding:45px 80px;}
.testimonial-content{text-align:center;}
.testimonial-author-name img{width:70px;
    height:70px;
    border-radius:50%;
    margin-top:-10px }
.testimonial-author-name h3{display: inline-block;
    text-align:left;font-size:15px;
    text-transform:uppercase;
    font-weight:400;
    padding-left: 20px;
    max-width:185px}
.testimonial-author-name h3 span{text-transform:none;
    font-size:70%;opacity: .5;
    display:inline-block;
    padding-top:10px;}
.testimonial-author-name li a{color:#888;}
.testimonial-author-name{list-style:none;
    margin:0;padding:0;
    height:280px;
    overflow-y:scroll }
.testimonial-author-name li{padding-top:10px;
    margin-bottom:20px;
    }
.testimonial-author-name li .active{opacity:1}
.testimonial-right-content{text-transform: uppercase;
    font-size: 40px;
    color:#ECEBEB;
    position: absolute;
    z-index: 1;
    transform:rotate(270deg);
    left:-97px;
    bottom:260px;
    width:310px; }
.testimonial-right-content:after{position: absolute;
    right: -80px;top:50%;height: 2px;width:40%;
    background:#ECEBEB;content: ""; }
.testimonial-right-content span{display: inline-block;
    position: relative;
    z-index: 2;
    padding-right:24px }
.ps > div.ps-scrollbar-y-rail{opacity:1 }







