/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
..float{float: left}
.float{float: right}
.section-borders span{height: 5px;background: green;width: 30px;display: block;float: left;border-radius: 10px }
.section-borders span.black-border { background: #333;width: 20px;margin: 0 15px}
.section-title{margin-bottom: 100px}
.owl-dota{ height: 5px;background: green;width: 30px;display: inline-block;float: center}