/* Base CSS */


@import url('https://fonts.googleapis.com/css?family=Great+Vibes&subset=latin-ext');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration:none; }
.food-box-bg-1{background-image: url(../img/blog-box-1.jpg);
     }
.food-box-bg-2{background-image: url(../img/blog-box-2.jpg);
    }

.food-box-bg-3{background-image: url(../img/blog-box-3.jpg);
     }
.food-box-bg{background-color: #ddd;
    background-position: center;
    background-size: cover;
     height:300px;margin-left:-15px;margin-right:-15px}
.food-box-info{border-top:4px solid #fdaf67;margin-top:-100px;
    background:#F3F4F4;padding:30px;text-align: center;margin-left: 15px;margin-right:15px;}
.food-box-info h2{font-size: 25px;font-weight:500;text-transform: uppercase;
    letter-spacing: 2px;color:#D19735;
    margin-top:30px;
    margin-bottom: 10px }
.food-price{font-size:17px;font-weight:600;
    margin-bottom:40px }
.food-price span{font-size: 35px;font-weight:700;
    text-transform: uppercase;
    letter-spacing: 3px;color:#D19735;}

.food-box-info:hover{margin-top:-100px;
    }
.single-food-box:hover .food-box-info{background-color:#D19735;
    color:#fff}
.food-box-info h2:hover{color: #fff;}
.food-box-info h3{font-family: 'Great Vibes', cursive;}
.heaer-area{background:#1D1E20;height:360px;color:white;padding: 20px}
.menu ul{list-style: none;text-align: right}
.menu ul li{display:inline-block;padding-right:40px;font-size: 14px;}
.menu ul li a{color:#fff;opacity: .9}
.heaer-area p{font-size:18px;width: 350px;margin-top:70px;margin-left:30px;line-height:1.9;word-spacing:3px}
.heaer-area p span{color:#E3BB1E }
.feature-work {background:#E3BB1E;color:#fff;padding:60px; }
.feature-work h2{font-size:23px;margin-left:210px;}
.feature-img img{margin-left: 210px;margin-top:20px;}
.feature-img-2{width: 249px }
.feature-img-4 {margin-left:-110px;width:350px;}
.footer-area{background:#1D1E20;width:100%;height:300px;text-align:center;color:#fff;padding:60px 0;border-bottom:1px solid #404F5E;}
.footer-area h2{font-size: 24px;}
.footer-area p{font-size:15px;width: 340px;margin-left:370px;opacity: .5;margin-bottom:50px }
.border-btn{font-size: 15px;font-weight:600;
    text-transform: uppercase;color:#E3BB1E;
    border: 1px solid #E3BB1E;padding:5px 40px;margin-left:-50px}
.footer-bottom{background:#1D1E20;color: #fff;padding:26px; }
.footer-content p{font-size:17px;opacity: .4 }
.social-icone{text-align: right;}
.social-icone a{padding-right:30px;color: #fff;font-size:20px;opacity: .5}






