/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.section-img{position: absolute;height:80%;width:45%;background-size: cover;background-color: #ddd;left:0;Top:0 }
.section-title h2{font-weight: 700px;text-transform: uppercase;font-size: 30px;color:#333}
.section-title span{color:#18b5fd}
.section-img{position: absolute;height:50%;width:48%;background-size: cover;background-color: #ddd;left:0;Top:0 }
.section-title h2{font-weight: 700px;text-transform: uppercase;font-size: 30px;color:#333}
.section-title span{color:#18b5fd}
.panel-default>.panel-heading{border:medium none;border-radius:0;background: none}
.panel-default>.panel-heading h4 a{display: block;padding: 15px;position:relative }
.panel-default>.panel-heading h4 a i.fa{float:right;font-size: 150%;line-height: 10px;}
.fa-angle-down { display: none}
.fa-angle-up{ display:block}
.section-padding{padding: 50px}


