/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

/* Styling Pagination*/

.header-area{ background: linear-gradient(rgba(0,0,0,.9), 
    rgba(60,51,95,.9)), url(../img/tajem_master-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top:15px; }

.logo{margin-left: 150px;}
.menu{margin-right: -85px;margin-top: 11px}
.menu ul{list-style: none;margin: 0;padding: 0;float: right;}
          



.menu ul li{display: inline-block;
    font-size:13px;
    padding-right:23px;
    font-family: Roboto Black;
    text-transform: uppercase;

}
.menu ul li a{color: #fff;}
.menu ul li a:hover{color:#0FADAA }
.header-content{text-align:center;
    margin-top:90px}
.header-content h2{font-size:32px;
    font-family: playfairDisplay Black;
    position: relative;
}
.header-area h2:before{position: absolute;
    left:490px ;bottom:-20px;
    background:#0FADAA;
    content:"";
    width:40px;
    height: 2px; }
.header-area p{font-size:14px;
    width:700px;
    margin-left:200px;
    margin-top: 40px;
    margin-bottom:35px;
    font-family:Roboto Light;
    line-height:1.9  }
.learn-more{padding:5px 20px;
    color: #00e0d0;
    margin-right:50px;
    border:1px solid #0FADAA;
    font-family:HammersmithOne Regular;
    font-size:16px;}
.our-story{width:500px;margin-left:520px;
    margin-top:-240px;}
.content-logo img{margin-left:190px;
    margin-top:65px}
.our-story h2{font-size:22px;
    color:#413d4b;
    font-family:HammersmithOne Regular;
    font-weight:500;}
.our-story p{ font-family:Roboto Light;
    font-size:14px;
    color: #413d4b; 
}



.video-play-btn{position: absolute;
    right:535px;
    Top:50%;
    height:70px;width:70px;
    display:inline-block;
    text-align:center;
    color:#fff;
    font-size:32px;
    ;border-radius:50%;
    padding-left:8px;
    margin-top:190px;

    border:1px solid #fff ;
    padding-top:10px; 
   
}




.video-area{background:  linear-gradient(rgba(0,0,0,.9), 
    rgba(60,51,95,.9)),url(../img/video-img.jpg);

    background-position: center;
    background-size: cover;
    height: 550px;
    margin-top:70px  
}

.video-play-btn p{font-size: 14px;width: 300px;
    margin-left:-120px;
    margin-top:29px;
    font-family:Roboto Black;
    text-transform:uppercase;
    letter-spacing:1.9px }
.Expertise-area{margin-top: 70px; }
.expertise-title{text-align: center;}
.expertise-title h2{font-family:playfairDisplay Bold;
    text-transform:uppercase;
    font-size:22px;
    color:#413d4b;}
.expertise-title p{font-family:playfairDisplay Regular;
    font-size:17px;
    color:#706c6c;word-spacing:4px;
    margin-top:-12px;
    position: relative;}

.expertise-title p:before{position: absolute;
    left:532px;top:36px;
    background:#706c6c;
    width:40px;
    height:1px;
    content:""; }
.single-expertise{margin-top:70px;
    text-align:center;}
.single-expertise h2{font-family:Roboto Black;
    text-transform:uppercase;font-size:14px;
    color:#413d4b;margin-top:20px;}
.single-expertise p{font-family:Roboto Light;
    font-size:15px;color:#706c6c;
    width:230px;margin-left:60px}
.single-expertise i{font-size:35px; }
.single-expertise a{color:#00e0d0 }

.amazin-team-area{text-align:center;background: linear-gradient(rgba(0,0,0,.9), 
    rgba(60,51,95,.9)), url(../img/tajem_master-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    color: #fff;
    height: 718px;
    padding-top:15px;}
.amazin-title h2{font-family:playfairDisplay Bold;
    text-transform:uppercase;
    font-size:22px;
    color:#fff;margin-top: 30px}
.amazin-title p{font-family:playfairDisplay Regular;
    font-size:17px;
    color:#fff;word-spacing:4px;
    margin-top:-12px;
    position: relative;margin-top:5px; }

.amazin-title p:before{position: absolute;
    left:532px;top:36px;
    background:#fff;
    width:40px;
    height:1px;
    content:"";margin-top:5px }
.single-amazin{margin-top:70px;
    border:1px solid #fff;
    width:220px;
    height:328px ;}

.single-amazin h3{font-family:playfairDisplay Bold;
    text-transform:uppercase;
    font-size:17px;
    color:#fff;
    margin-top: 10px}
.single-amazin p{font-family:playfairDisplay Regular;
    font-size:15px;
    color:#fff;
    word-spacing:4px;
    margin-top:-12px;
    position: relative;}
.amazin-bottom{margin-left:380px;
    margin-top:60px;}
.amazin-bottom p{margin-bottom:30px;
    font-family:Roboto Light;
    font-size:16px;}



.footer-area{background: linear-gradient(rgba(0,0,0,.9), 
    rgba(60,51,95,.9)), url(../img/footer-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 450px;
    padding-top:15px;
    width:1600px;
    margin-left:-50px;
    padding: 70px;margin-top:90px 
    
}

.footer-conteent{}
.footer-conteent p{font-family:Roboto Light;
    font-size:16px;
    margin-top:40px;
    line-height:2.2; }
.footer-conteent ul{list-style:none;
    margin-left:-43px}
.footer-conteent ul li{display:inline-block;
    font-family:Roboto Regular;
    font-size:14px;
    margin-top:50px;
    padding-right:19px
     }
.footer-conteent ul li a{color: #fff}

.footer-conteent{margin-left:90px;
    margin-top:30px}
.our-studio {margin-top:40px;margin-left:80px;}
.our-studio h2{font-family:Roboto Black;
    text-transform:uppercase;
    font-size:20px;
    color:#fff;margin-bottom:59px 
    }

.our-studio p{font-family:Roboto Light;
    font-size:16px;
    line-height:1.1;}

.our-studio a{color: #fff;}
.our-studio span{padding-right:10px  }
.address{margin-left:26px }
.our-studio .fa-phone{padding-right:10px }

.stay-touch h2{font-family:Roboto Black;
    text-transform:uppercase;
    font-size:20px;
    color:#fff;margin-bottom:30px 
}
.stay-touch{margin-top:40px;margin-left:100px;}
.social-icone ul{list-style:none;
    margin-left:-50px; }
.social-icone ul li{display:inline-block;
    border:1px solid #fff;
    border-radius:20px; 
   padding:5px 10px;margin-left:10px;margin-top:22px}
.social-icone ul li a{color: #fff;}
.social-icone p{margin-top:125px;
    margin-left:-10px;
    font-family:Roboto Regular;
    word-spacing:5px }



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.floatleft{margin-top:30px;padding-right:100px   }
.floatright{margin-top:30px; }
.client-logo h2{font-family:playfairDisplay Regular;
    font-size:22px;
    color:#413d4b; 
    word-spacing:4px;
    margin-top:-10px;
    position: relative;margin-bottom:5px}

.client-logo{margin-left:70px;}
.contact-form h3{font-family:playfairDisplay Regular;
    font-size:22px;
    color:#413d4b; 
    word-spacing:4px;
    margin-top:-10px;
    position: relative;margin-bottom:25px}
.form-area{margin-top: 190px;margin-left:-50px }
.carosole-item img {width:220px;margin-right:-50px    }
.work-area{margin-left:-90px }

.client-area{background: linear-gradient(rgba(0,0,0,.9), 
    rgba(60,51,95,.9)), url(../img/tajem_master-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 450px;
    padding-top:15px;
    width:1600px;
    margin-left:-140px;position:relative
    padding: 70px;margin-top:90px;text-align:center;}
.client-area p{font-family:playfairDisplay Regular;
    font-size:16px;
    margin-top:80px;
    position: relative;
    margin-bottom:55px;
    width:700px;
    margin-left:220px}
.client-area :before{position: absolute;
    left:290px;
    top:-60px;
    background:url(../img/tajem_master.png);
    width:32px;
    height:26px;
    content:'';}
    .writer-name h3{font-family:Roboto Black;
    font-size:16px;
    margin-top:40px;}
.writer-name h4{font-family:playfairDisplay Regular;
    font-size:14px;
    margin-top:10px;
    font-weight:500;
    margin-bottom:40px;}


.load-more a{padding:5px 10px;
    color: #00e0d0;
    margin-right:50px;
    border:1px solid #0FADAA;
    font-family:HammersmithOne Regular;
    font-size:16px;margin-left:460px; }
.load-more{margin-top:40px }         








