/* Base CSS */


@import url('https://fonts.googleapis.com/css?family=Great+Vibes&subset=latin-ext');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration:none; }

.flip-area{background-color:#efefef;
    padding:100px 0 }
.fliped-boxed-service h3{text-align: center;
    font-weight: 400;margin-bottom:30px}
.fliped-boxed-service i{font-size:100px;
    margin-bottom: 24px;}
.fliped-boxed-service{text-align:center;
    background:#fff;
    padding: 30px;
    border-bottom:5px solid #333;height:100%;display: table;width: 100% }

.flipbox{
    margin: 0 auto;
    height: 300px;  
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    margin-bottom: 40px
}

    
.flipbox .front {
    height: inherit;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 900;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
       -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.flipbox .back {
    height: inherit;
    position: absolute;
    top: 0;
    width:100%;
    z-index: 1000;
    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.flipbox.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.flipbox.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
    background-color: #14bcc8;
    width: 250px;
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.box2{
    background-color: #ff7e70;
    width: 250px;
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.fliped-boxed-service-tablecelll{display:tablecelll;vertical-align: middle;}
.back .fliped-boxed-service{background-color:#000;color: #fff; }



