.listing-bg-1{background-image:url(../img/listing-bg-1.jpg);}
.listing-bg-2{background-image: url(../img/listing-bg-2.jpg);}
.listing-bg-3{background-image:url(../img/listing-bg-3.jpg); }
.listing-bg-4{background-image: url(../img/listing-bg-4.jpg);}
.listing-bg-5{background-image: url(../img/listing-bg-5.jpg);}
.listing-bg-6{background-image: url(../img/listing-bg-6.jpg);}
.listing-bg-7{background-image: url(../img/listing-bg-7.jpg);}