.section-padding{padding: 100px 0;}
body{font-size: 25px;line-height: 2;}
.tab-list{border-bottom:2px solid gray;
	margin:0 0 30px;
	padding:0;
	list-style:none; }
.tab-list li{display:inline-block;}
.tab-list li a{display:block;
	position: relative;
	padding: 10px 30px;
	color:#666; }
.tab-list .active a{color: red;
	margin-left:-35px }
.tab-list li.active:after{position: absolute;
	left: 15px;;height: 3px;
	width:110px ;
	content: "";
	background:red; }