/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .mainmenu li{padding-left: 50px}
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .mainmenu li{padding-left: 75px}
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.logo{padding: 30px 0;text-align: center}
.mainmenu ul{text-align: center;}
 .mainmenu li{padding-left: 5px}
 .mainmenu li a{padding:5x 0;font-size:11px}
 .single-blog-item{margin-bottom:50px}

 .footer-area{text-align:center;}
.footer-area li{padding: 10px}
.footer-area.text-right{text-align: center}




    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}