/* Base CSS */


@import url('https://fonts.googleapis.com/css?family=Great+Vibes&subset=latin-ext');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {font-family:'vidaloka',serif;

}
a:hover { text-decoration:none; }

.author-bg-1{background-image:url(../img/author-img-3.jpg);
    background-size: cover;
    background-position:center top; }
.tesrtimonial-wrapper{position: relative}
h2.testimonial-title{position: absolute;
    left: 0;top:70px;font-size:68px;
    z-index:2}
.testimonial-title span{color:red;}
.testimonial-author i{color: blue;
    font-size: 20px;}
.testimonial-text{font-size:15px ;
    line-height:1.9 ;
    padding-top:220px;
    max-width:40%;
    margin-left: 20px}
.testimonial-author h3{font-size:20px;
    margin-bottom:5px;
    margin-left:-5px;
    margin-top:15px }
.testimonial-author{margin-top: 38px;
    margin-bottom:50px; }
.testimonial-author-bg{position: absolute;
    right:-6%;top: 0;
    height: 100%;width: 63%}
.section-padding{padding: 100px 0}
.single-testimonial-item{overflow:hidden;
    position: relative; }
.owl-carousel {width: 110%}
.testimonial-author{margin-left:5px}
.owl-nav div{display:inline-block;height: 70px;
    width: 70px;color: blue;
    background: #fff;color: #333;
    text-align:center;
    font-size: 35px;
    line-height:65px;}

.owl-nav{text-align: center;
    padding-right:12%;
    position:absolute;
    bottom:0;width:100%;}

.owl-nav div:first-child{background:blue; }
.owl-nav div:hover{background:#333;color:#fff }
.author-bg-2{background-image:url(../img/author-img-2.jpg);
    background-size: cover;
    background-position:center top;}
 .author-bg-3{background-image:url(../img/author-img.jpg);
    background-size: cover;
    background-position:center top;}

