/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.footer-area{background: #14adf3;
    color: white;
    margin-top: 150px;
    padding:70px;}

.footer-area a{color: white;}
.footer-wid p{font-size: 14px;
    line-height: 2;
    font-weight: 500;}
.footer-wid{margin-left: -50px;}
.footer-wid h3{text-transform: uppercase;
    margin-bottom: 30px;}
.socia-link a{padding: 20px;font-size: 20px;
    display:inline-block;
    margin-top: 10px;
    margin-left:-20px}
    .quick-link ul li{list-style: none;margin: 0;padding: 4px; }
.quick-link h3{font-size: 20px;}
.quick-link{margin-left: 20px;}
.quick-link ul{margin-left:-39px;margin-top: 25px; }

.Service h3{font-size: 20px;}
.Service ul{margin-left:-50px;margin-top: 25px;}
.Service ul  li{list-style: none;margin: 0;padding: 5px; }
.newslatter-area{margin-left: 50px;}
.newslatter-area i{padding: 20px;margin-top: -90px;}
.newslatter-area p{font-size: 14px;}
.newslatter-area i{font-size: 17px;}
.footer-subscribtion-form h2{font-size: 22px;width: 500px;font-weight:500;margin-left:20px;}
.footer-subscribtion-form{margin-top: 25px;}
.footer-subscribtion-form input{margin-top: 5px;margin-left: 20px;}
.footer-subscribtion-form input[type=email]{border: none;color: black;padding: 10px;width: 100%;height:40px;}
.footer-subscribtion-form input[type=email]{border: none;color: black;padding: 10px;width: 90%;height:40px;}
.footer-subscribtion-form input[type=submit]{border: none;color: blue;padding: 5px;width:65px;position: absolute;margin-left: 5px;height: 40px;  }
.footer-subscribtion-form p{margin-top: 10px;margin-left: 20px;width:500px; } 
.copyright-area {background: gray;color: whitesmoke; }
.copyright-area p{margin-top:20px;}
.copyright-area ul li{list-style: none;display: inline-block;margin-top:20px;}
.copyright-area ul li a{color:white;padding:10px;}
.copyright-area ul li a:before{bottom:12px;height:12px;
    left:36%;
    position:absolute;width:3px;content:"";
    background:white;
    margin-left:-45px;
} 



