/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.section-padding{padding: 90px 0}
.section-title{margin-bottom:80px}
.section-title h2{position:relative;padding-bottom:20px;margin-bottom:20 px;color:#333}
.section-title h2:before {bottom:0;height:7px;
    left:50%;
    position:absolute;width:80px;content:"";
    background:silver;
    margin-left:-170px;border-radius:30px
} 
.section-title h2:after{position: absolute;left:50%;
    height:7px;width:65px;content:"" ;
    background:blue ;bottom:0;
    margin-left:-170px;border-radius:30px}
.section-title p{font-size: 14px}
.staff-meta{font-size:10px;color:#333;margin-top:20px  }
.staff-meta h3{margin:15px 0 0;text-transform:uppercase;font-size:20px}
.staff-meta p{font-size: 15px;}
.single-staff-item p{font-size: 15px;padding: 10px}
.single-staff-item{display: table-cell;vertical-align:middle}
.single-staff-item img{width: 160px;border-radius: 50%;max-width: 325px}

