/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {background: #f5f6fa;

}
a:hover { text-decoration: none; }
.promo-boxes-wrap{margin-left: -15px;overflow: hidden;}
.single-promo-box{height: 250px;width: 50%;float: left;display: table;text-align: center;font-size:20px;}
.promo-box-tablecell{display: table-cell;vertical-align:middle;}
.single-promo-box:nth-child(2){background: #d889;color: #fff}
.single-promo-box:nth-child(3){background: #7dbace;color: #fff}
.single-promo-box:nth-child(1){background: #fff;}
.single-promo-box:nth-child(4){background: #fff;}
.promo-icone{font-size: 50px;}
.single-promo-box h2{font-size: 28px;position: relative;z-index: 1;margin-bottom:40px;padding-bottom:40px; }
.boxed-btn{background:#d889;color: white;padding:15px 40px;border-radius:50px;display:inline-block; }
.single-promo-box h2:after{position: absolute;left: 50%;height: 2px;width: 50px;margin-left: -25px;content:"";background: #d889;bottom: 0;}
.boxed-btn{text-transform: uppercase;font-weight: 700;font-size: 16px;}
.promo-box-tablecell{padding-top: 70px;transition:.3s;}

.single-promo-box:hover{padding-top: 0;}
.promo-box-tablecell:hover{padding-top: 0;}
.single-promo-box:hover{}opacity: 1;visibility: visible;}
.boxed-btn:hover{opacity: 1;visibility: visible;  }
.promo-icone{margin-top: -10px;display:inline-block;}
.single-promo-box:nth-child(2)h2:after{background-color:green}
.fa-twitter{color: blue;}
.right-side-content{padding: 70px 0}
.section-title h3{color:#7dbace }
.right-side-content h2{font-weight: 900;margin-bottom: 60px;}
.right-side-content h4{width: 500px}
.right-side-content p{color: gray;margin-top: 60px}
.border-btn{border: 2px solid blueviolet;color: blue;padding:15px 40px;border-radius:50px;display:inline-block;}

