/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
   img.hand-absolute {
    position: relative;
    right: 0; }
    
    .service-title p {
    font-size: 15px;
    width: 450px;
    color: #A4A4A4;
    margin-top: 20px;
    margin-left: 120px;}

    .single-service h2 {
    font-size: 25px;
    color: #615F95;
    margin-top: 80px;
    margin-bottom: 37px;
    margin-left: -80px;}

    img.hand-absolute {
    position: absolute;
    left: 398px;
}  


}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
  img.hand-absolute {
    position: relative;
    right: 0; }
    
    .service-title p {
    font-size: 15px;
    width: 450px;
    color: #A4A4A4;
    margin-top: 20px;
    margin-left: 120px;}

    .single-service h2 {
    font-size: 25px;
    color: #615F95;
    margin-top: 80px;
    margin-bottom: 37px;
    margin-left: -80px;}

    img.hand-absolute {
    position: absolute;
    left: 398px;
}    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}